.tiers {
  display: flex;
  width: 100%;
  flex-direction: column;
}

.tierRow {
  justify-content: center;
  gap: 2rem;
  display: flex;
  flex-direction: column;
}

.tier {
  display: flex;
  flex-direction: column;
  flex: 0 0 75%;
  justify-content: flex-start;
  align-items: flex-start;
  font-weight: normal;
  font-size: 0.9rem;
  margin: 0.5rem;
  padding: 1rem;
  border: 2px solid var(--ifm-color-primary-dark);
  border-radius: 12px;
}

[data-theme="dark"] .tier {
  border: 2px solid var(--ifm-color-primary);
}

.banner {
  display: flex;
  width: 100%;
  flex: 0 0 33%;
  justify-content: space-between;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.title {
  color: var(--ifm-color-primary-dark);
}

.note {
  font-size: 0.8rem;
  color: var(--ifm-color-primary-dark);
  font-weight: var(--ifm-font-weight-base);
}

[data-theme="dark"] .title,
[data-theme="dark"] .note {
  color: var(--ifm-color-primary);
}

.tagline {
  font-weight: var(--ifm-heading-font-weight);
}

.price {
  font-weight: bold;
}

.was {
  color: var(--ifm-color-gray-400);
  text-decoration: line-through;
}

[data-theme="dark"] .was {
  color: var(--ifm-color-gray-700);
}

.description {
  font-size: 1rem;
  padding: 0.5rem 0 0.5rem 0;
}

.button {
  width: 100%;
  margin: 0 0 1rem 0;
}

.tier .button {
  background-color: var(--ifm-color-primary-dark);
  border-color: var(--ifm-color-primary-dark);
}

.tier .button:hover {
  background-color: var(--ifm-color-primary-darkest);
  border-color: var(--ifm-color-primary-darkest);
}

[data-theme="dark"] .tier .button {
  background-color: var(--ifm-color-primary);
  border-color: var(--ifm-color-primary);
}

[data-theme="dark"] .tier .button:hover {
  border: 1px solid var(--ifm-color-primary-lightest);
  background-color: var(--ifm-color-primary-lightest);
}

.borderbutton {
  composes: button;
}

.tier:nth-child(n) .borderbutton {
  background-color: transparent;
  border: 1px solid var(--ifm-color-primary-dark);
  color: var(--ifm-color-primary-dark);
}

.tier:nth-child(n) .borderbutton:hover {
  border: 1px solid var(--ifm-color-primary-darkest);
  color: var(--ifm-color-primary-darkest);
}

[data-theme="dark"] .tier:nth-child(n) .borderbutton {
  border: 1px solid var(--ifm-color-primary-lightest);
  color: var(--ifm-color-primary-lightest);
}

[data-theme="dark"] .tier:nth-child(n) .borderbutton:hover {
  border: 1px solid var(--ifm-color-primary);
  color: var(--ifm-color-primary);
  background-color: transparent;
}

.button:before {
  content: "Join on GitHub Sponsors";
}

.borderbutton:before {
  content: "Contact for bespoke service";
}

@media screen and (max-width: 1200px) {
  .tierRow {
    flex-direction: column;
  }
  .tier {
    font-size: 1rem;
    margin: 0;
  }
  .banner {
    flex-direction: column;
  }
  .button:before {
    content: "GitHub Sponsors";
  }
  .borderbutton:before {
    content: "Contact";
  }
}
