@value toolbar, toolbarBorder from '../styles/theme/color.css';

.graphiql {
  position: absolute;
  top: 0;
  width: 100%;
  bottom: 48px;
}

.footer {
  background-color: toolbar;
  border-top: 1px solid toolbarBorder;
  box-sizing: border-box;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 7px 14px;
  width: 100%;
  height: 48px;
  bottom: 0;
}
