{
  "sourceMaps": "inline",
  "presets": ["modern-node/4.0"],
  "plugins": [["module-alias", [{ "src": "./src", "expose": "#" }]]],
  "env": {
    "production": {
      "sourceMaps": false
    }
  }
}
