{
  "plugins": ["transform-runtime", "transform-es2015-modules-commonjs"],
  "presets": [
    ["env", {
      "targets": {
        "node": 8
      }
    }],
    "flow"
  ],
  "env": {
    "node7minus": {
      "presets": [
        ["env", {
          "targets": {
            "node": 4
          }
        }],
        "flow"
      ]
    },
    "test": {
      "presets": [
        ["env", {
          "targets": {
            "node": "current"
          }
        }],
        "flow"
      ]
    }
  }
}
