node_modules
coverage
dist
/pg-omit-archived/
/pg-simplify-inflector/
/operation-hooks/
/.vscode
*.tgz
yarn-error.log
npm-debug.log
tsconfig.tsbuildinfo
.env
_LOCAL
.DS_Store

# yarn2 stuff
.yarn/*
!.yarn/releases
!.yarn/plugins
.pnp.*
