node_modules
coverage
dist
/pg-omit-archived/
/pg-simplify-inflector/
/operation-hooks/
*.tgz
yarn-error.log
npm-debug.log
tsconfig.tsbuildinfo
.env
_LOCAL
.DS_Store

# mermaid pngs
packages/dataplan-pg/__tests__/**/*.mermaid.png

# yarn2 stuff
.yarn/*
!.yarn/releases
!.yarn/plugins
.pnp.*

# Generated documentation
docs/

# Benjie's stuff
Session.vim
WHAT_ARE_YOU_DOING.md
packages/graphile-build-pg/webpacked
packages/graphile-build-pg/exported-schema-for-webpack.mjs
packages/graphile-build-pg/schema-export-output.mjs
packages/graphile-inspect/bundle
