node_modules
coverage
dist
*/*/release/
/pg-omit-archived/
/pg-simplify-inflector/
/operation-hooks/
*.tgz
yarn-error.log
npm-debug.log
tsconfig.tsbuildinfo
tsconfig.build.tsbuildinfo
.env
_LOCAL
.DS_Store

# mermaid pngs
grafast/dataplan-pg/__tests__/**/*.mermaid.png

# yarn2 stuff
.yarn/*
!.yarn/releases
!.yarn/plugins
.pnp.*

# Generated documentation
.docusaurus

# Generated code
/graphile-build/graphile-build/temp.mjs
/graphile-build/graphile-build-pg/temp.mjs
/graphile-build/graphile-build-pg/webpacked
/graphile-build/graphile-build-pg/exported-schema-for-webpack.mjs
/graphile-build/graphile-build-pg/schema-export-output.mjs
/postgraphile/postgraphile/latestSchema.graphql
/postgraphile/postgraphile/latestSchema.json
/grafast/ruru/bundle/ruru.min.js
/grafast/ruru/bundle/ruru.min.js.LICENSE.txt

# Benjie's stuff
/Session.vim
/WHAT_ARE_YOU_DOING.md
contrib
/env
