.DS_Store
node_modules
npm-debug.log*
TODO.md
.editorconfig
tsconfig.json
tslint.json
.vscode
src
build/__tests__
build/**/__tests__
build/__mocks__
build/**/__mocks__
typings
scripts
examples
docs
resources/jest-*
