language: node_js

node_js:
  - "6"

addons:
  postgresql: "9.4"

env:
  TEST_PG_URL: postgres://localhost:5432/travis

cache:
  directories:
    - node_modules
    - $NVM_DIR

script:
  - scripts/ci

after_success:
  - "cd examples/forum && scripts/run-schema-demo $DEMO_PG_URL"
