language: node_js

node_js:
  - "8"
  - "10"
  - "12"

addons:
  postgresql: "9.4"
  apt:
    packages:
      - postgresql-server-dev-9.4

env:
  PGVERSION: 9.4
  TEST_DATABASE_URL: postgres://localhost:5432/graphileengine_test

cache: yarn

install:
  - yarn
  - lerna bootstrap

before_script:
  - psql -c "ALTER USER travis WITH PASSWORD 'travis';"
  - sudo bash -c "echo -e 'wal_level = logical\nmax_replication_slots = 10\nmax_wal_senders = 10' >> /etc/postgresql/$PGVERSION/main/postgresql.conf"
  - sudo service postgresql restart
  - git clone https://github.com/eulerto/wal2json.git
  - sudo bash -c "cd wal2json && USE_PGXS=1 make && USE_PGXS=1 make install"
  - createdb graphileengine_test

script:
  - scripts/ci

matrix:
  include:
    - addons:
        apt:
          packages:
            - postgresql-10
            - postgresql-client-10
            - postgresql-server-dev-10
        postgresql: 10
      services:
        - postgresql
      env:
        - PGVERSION=10
        - TEST_DATABASE_URL=postgres://localhost:5432/graphileengine_test
        - LDS_TEST_DATABASE_URL=postgres://travis:travis@localhost:5432/lds_test
        - PGVERSION=10
      sudo: false
      dist: xenial
    - node_js: 12
      addons:
        apt:
          packages:
            - postgresql-10
            - postgresql-client-10
            - postgresql-server-dev-10
        postgresql: 10
      services:
        - postgresql
      env:
        - PGVERSION=10
        - TEST_DATABASE_URL=postgres://localhost:5432/graphileengine_test
        - LDS_TEST_DATABASE_URL=postgres://travis:travis@localhost:5432/lds_test
        - PGVERSION=10
        - GRAPHILE_TURBO=1
      sudo: false
      dist: xenial
