.contents {
  display: flex;
  align-items: space-between;
  padding: 2rem 0;
  width: 100%;
  color: var(--ifm-color-primary-darkest);
}

[data-theme="dark"] .contents {
  color: var(--ifm-color-primary-lightest);
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.row {
  justify-content: space-between;
}

.header {
  font-size: 2.5rem;
  font-weight: normal;
}

.tagline {
  font-weight: normal;
}
