.mainSectionInstructionContainer {
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
}

.comicFont {
  font-family: "Sriracha", "Comic Sans MS", "Comic Sans", sans;
  text-transform: uppercase;
  font-weight: bold;
  font-style: italic;
}

.instruction {
  composes: comicFont;
}

.instructionSponsor {
  composes: comicFont;
}

.instruction,
.instructionSponsor {
  display: inline-block;
  border: 5px solid var(--black-ish);
  background: #a3f9a8;
  box-shadow: 0.5rem 0.5rem 0px var(--black-ish);
  margin: 1rem 0;
  padding: 0.25rem 0.75rem 0.25rem 0.5rem;
  color: var(--black-ish);
  font-size: 1.5rem;
  line-height: 100%;
}

[data-theme="dark"] .instruction {
  background: #008a00;
  color: white;
}

[data-theme="dark"] .instructionSponsor {
  box-shadow: 0.5rem 0.5rem 0px rgba(255, 255, 255, 0);
  border: 5px solid rgba(255, 255, 255, 0);
  background: inherit;
  color: var(--ifm-color-primary);
}
