/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #29772c;
  --ifm-color-primary-dark: #1e4826;
  --ifm-color-primary-darker: #0d2612;
  --ifm-color-primary-darkest: var(--black-ish);
  --ifm-color-primary-light: var(--grafast-color-caption);
  --ifm-color-primary-lighter: #bce8bd;
  --ifm-color-primary-lightest: #d8f2d9;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
  --stripe-light: rgba(136, 217, 139, 0.3);
  --stripe-dark: rgba(101, 206, 103, 0.4);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme="dark"] {
  --ifm-color-primary: #25c2a0;
  --ifm-color-primary-dark: #21af90;
  --ifm-color-primary-darker: #1fa588;
  --ifm-color-primary-darkest: #1a8870;
  --ifm-color-primary-light: #29d5b0;
  --ifm-color-primary-lighter: #32d8b4;
  --ifm-color-primary-lightest: var(--grafast-color-caption);
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}

div[class^="announcementBar_"] {
  background: repeating-linear-gradient(
    145deg,
    var(--stripe-light),
    var(--stripe-light) 20px,
    var(--stripe-dark) 10px,
    var(--stripe-dark) 40px
  );
  font-weight: bold;
}

figure figcaption {
  font-size: 0.9em;
  font-style: italic;
  text-align: center;
}

figure {
  text-align: center;
}
figure iframe {
  display: inline-block;
}
