@import '~graphiql/graphiql.css';

html,
body,
#root {
  height: 100%;
  margin: 0;
  overflow: hidden;
  width: 100%;
}

/* Fix weird search alignment issue */
.graphiql-container .search-box-icon {
  line-height: 1em;
  top: 1px;
}

.graphiql-container .history-contents li button.favorited {
  display: inline-block;
}
