.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featureSvg {
  height: 200px;
  width: 200px;
}

.lead p {
  max-width: 60rem;
  margin: 2rem auto 0;
  text-align: center;
  font-size: 1.5em;
}
