.features {
  display: flex;
  align-items: center;
  padding: 0rem 0;
  width: 100%;
  max-width: 60rem;
  margin: 0 auto;
}

.featureSvg {
  height: 200px;
  width: 300px;
}

.lead p {
  max-width: 60rem;
  margin: 2rem auto 0;
  text-align: center;
  font-size: 1.5em;
}

.mainSectionInstructionContainer {
  padding: 1rem;
}

.comicFont {
  composes: comicFont from "@site/src/css/common.module.css";
}

.instruction {
  composes: instruction from "@site/src/css/common.module.css";
}

[data-theme="dark"] .featuresContainer {
  /*background-color: var(--black-ish);*/
  background-color: var(--grafast-color-purple);
}
