.sponsor {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-weight: normal;
  margin: 0.5rem;
  padding: 1rem;
  flex: 0 0 18rem;
  font-size: 1.5rem;
}

.featured,
.leaders {
  border: 3px solid var(--ifm-color-primary-dark);
  background: white;
  border-radius: 12px;
}

.featured .name {
  font-size: 2rem;
  padding-top: 1rem;
}

.leaders .name {
  font-size: 1.24rem;
  padding-top: 1rem;
}

.name {
  color: var(--ifm-color-primary-darker);
  text-align: center;
}

[data-theme="dark"] .name {
  color: var(--ifm-color-primary-darkest);
}

.backers {
  flex: none;
}

.backers .name:hover {
  color: var(--ifm-color-primary-darker);
}

[data-theme="dark"] .backers .name {
  color: var(--ifm-color-primary);
}

.featured .avatar {
  border-radius: 10rem;
  width: 10rem;
  height: 10rem;
}

.leaders .avatar {
  border-radius: 5rem;
  width: 5rem;
  height: 5rem;
}

.business {
}

.contributor {
}

.plain {
  background-color: inherit;
  border-radius: inherit;
  border: inherit;
}
