.warningSection {
  background-color: var(--ifm-color-primary-darkest);
  color: var(--ifm-color-primary-lightest);
  padding: 2rem 4.75rem 1rem;
  text-align: center;
  margin-bottom: 1rem;
}

[data-theme="dark"] .warningSection {
  background-color: var(--ifm-color-primary-light);
  color: var(--ifm-background-color);
}

.warningSectionInner {
  max-width: var(--ifm-container-width-xl);
  padding: 0 1rem;
  margin: 0 auto;
}

.progressContainer,
.progressContainerStatusPage {
  margin-bottom: 1rem;
}
.progressContainer {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.progressBackground {
  background-color: var(--ifm-color-primary-lighter);
  border-radius: 8px;
}

.progressForeground {
  height: 3rem;
  background-color: var(--ifm-color-primary-dark);
  color: white;
  border-radius: 6px;
  display: flex;
  justify-content: right;
  align-items: center;
}

.progressLabel {
  font-size: 1.25rem;
  font-weight: bold;
  padding-right: 1rem;
}

[data-theme="dark"] .progressBackground {
  background-color: var(--ifm-color-primary-lightest);
}

[data-theme="dark"] .progressForeground {
  background-color: var(--ifm-color-primary-dark);
}

.progressLink {
  color: var(--ifm-color-primary-light);
}

[data-theme="dark"] .progressLink {
  color: var(--ifm-color-primary-darker);
}

.releasesTable thead tr,
.releasesTable thead th,
.releasesTable tfoot td,
.releasesTable tfoot th {
  background-color: white;
  border: none;
  border-bottom: 3px solid var(--ifm-color-primary-darker);
  text-align: left;
}
[data-theme="dark"] .releasesTable thead tr,
[data-theme="dark"] .releasesTable thead th,
[data-theme="dark"] .releasesTable tfoot td,
[data-theme="dark"] .releasesTable tfoot th {
  background-color: var(--ifm-background-color);
}

.releasesTable tbody td,
.releasesTable tbody th {
  border: none;
  border-bottom: 1px solid var(--ifm-color-primary-darker);
  background-color: white;
  text-align: left;
}

[data-theme="dark"] .releasesTable tbody td,
[data-theme="dark"] .releasesTable tbody th {
  background-color: var(--ifm-background-color);
}

.releasesTable {
  max-width: 46rem;
  margin: 0 auto;
}

.releasesTable td:first-child,
.releasesTable th:first-child {
  padding-left: 2rem;
}

.releasesTable td,
.releasesTable th {
  padding-right: 2rem;
}

.releasesTable td:last-child,
.releasesTable th:last-child {
  width: 100%;
}

.releasesTable {
  padding-bottom: 2rem;
}

.prose {
  max-width: 42rem;
  margin: 0 auto;
}
