.features {
  composes: contents from "../../css/common.module.css";
  background-color: var(--ifm-hero-background-color);
  /*background-color: var(--ifm-color-primary-lightest);*/
}

.row {
  composes: row from "@site/src/css/common.module.css";
}

.feature {
  composes: content from "@site/src/css/common.module.css";
  flex-direction: row;
}

.svgContainer {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-grow: 1;
  max-width: 25%;
}

.featureSvg {
  height: 6rem;
  width: 6rem;
}

.featureDetails {
  display: flex;
  flex-direction: column;
  max-width: 75%;
}

.featureTitle {
}

.featureInfo {
  composes: tagline from "@site/src/css/common.module.css";
}
