/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #2d80d3;
  --ifm-color-primary-dark: #0e457d;
  --ifm-color-primary-darker: #0e385e;
  --ifm-color-primary-darkest: #205d3b;
  --ifm-color-primary-light: rgb(70, 128, 180);
  --ifm-color-primary-lighter: #95cdff;
  --ifm-color-primary-lightest: #3cad6e;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme="dark"] {
  --ifm-color-primary: #25c2a0;
  --ifm-color-primary-dark: #21af90;
  --ifm-color-primary-darker: #1fa588;
  --ifm-color-primary-darkest: #1a8870;
  --ifm-color-primary-light: #29d5b0;
  --ifm-color-primary-lighter: #32d8b4;
  --ifm-color-primary-lightest: #4fddbf;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}

figure {
  margin-left: 0;
  margin-right: 0;
}

figure p {
  margin: 0;
}

figure figcaption {
  font-size: 0.9em;
  font-style: italic;
  text-align: center;
}

.featureSummary details {
  border: none;
  box-shadow: none;
  color: var(--ifm-font-color-base); /* TODO: should be theme variable */
  margin: 0;
  padding-top: 0;
  padding-bottom: 0;
  background: transparent;
}
.featureSummary details > div > div {
  border-radius: 7px;
  background-color: var(--ifm-alert-background-color);
  padding: 1rem;
}
.featureSummary details > div > div {
  border-top: none;
}
.featureSummary details img {
  max-width: calc(100%);
}
.featureSummary details figure {
  margin: 0;
  padding: 0;
}

.featureSummary details > * {
  padding-left: 1rem;
}
.featureSummary details > summary > p {
  display: inline;
}
.featureSummary details > summary::after {
  content: "(click to expand)";
  margin-left: 0.5rem;
  font-size: small;
  color: var(--docusaurus-details-decoration-color);
}
.featureSummary details[open] > summary::after {
  content: "(close)";
}
.featureSummary ul {
  margin-bottom: 0;
}
.featureSummary code {
  background-color: var(--docusaurus-highlighted-code-line-bg);
}
