.warningSection {
  background-color: #ad1f32;
  color: var(--ifm-color-primary-lightest);
}

.warningContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.warningRow {
  align-items: center;
  background-color: var(--ifm-color-primary-darker);
  color: var(--ifm-color-primary-lightest);
}

.inner {
  display: grid;
  justify-content: center;
  text-align: center;
}

[data-theme="dark"] .warningRow {
  background-color: var(--ifm-color-primary);
  color: var(--ifm-background-color);
}

.header {
  composes: header from "@site/src/css/common.module.css";
  font-size: 2rem;
}

.warningSection h3 {
  font-weight: normal;
}

.button {
  font-size: 0.8rem;
  border-radius: 7px;
  border: 1px solid var(--ifm-color-darkest);
  background-color: #ffffff;
  color: #ad1f32;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  margin-left: 1em;
  margin-right: 1em;
}

.button:hover {
  color: var(--ifm-color-primary-dark);
  border: 1px solid var(--ifm-color-dark);
}
