.warningSection {
  background-color: var(--ifm-color-primary-darkest);
  color: var(--ifm-color-primary-lightest);
}

[data-theme="dark"] .warningSection {
  background-color: var(--ifm-color-primary-light);
  color: var(--ifm-background-color);
}

.warningSection h2 {
  font-weight: bold;
}

.warningRow {
  align-items: center;
  justify-content: center;
}

.inner {
  text-align: center;
}

.header {
  composes: header from "@site/src/css/common.module.css";
  font-size: 2rem;
}

.warningSection h3 {
  font-weight: normal;
}

.button {
  font-size: 0.8rem;
  border-radius: 7px;
  border: 1px solid var(--ifm-color-darkest);
  background-color: #ffffff;
  color: #ad1f32;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  margin-left: 1em;
  margin-right: 1em;
}

.button:hover {
  color: var(--ifm-color-primary-dark);
  border: 1px solid var(--ifm-color-dark);
}

.progressContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.progressLink {
  color: var(--ifm-color-primary-light);
}

[data-theme="dark"] .progressLink {
  color: var(--ifm-color-primary-darker);
}

.progressBarContainer {
  width: 100%;
  margin: auto;
  margin-top: none;
}
