name: Linting

on: [push, pull_request]

jobs:
  ESLint:
    name: ESLint
    runs-on: ubuntu-latest

    env:
      CI: true # Should already be set to TRUE by Github?
      TERM: xterm
      FORCE_COLOR: 1
      NODE_VERSION: 16.14 # Should be moved to repository env variable
      NODE_OPTIONS: "--max-old-space-size=4096" # Give eslint more space?

    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Use Node.js ${{ env.NODE_VERSION }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ env.NODE_VERSION }}
          cache: "yarn"

      - run: yarn --immutable
      - name: Compile eslint-plugin-graphile-export
        run:
          yarn workspaces foreach -ptR --from eslint-plugin-graphile-export run
          prepack

      - name: "Lint Code"
        run: yarn eslint .

  Prettier:
    name: Prettier
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Use Node.js ${{ env.NODE_VERSION }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ env.NODE_VERSION }}
          cache: "yarn"

      - run: yarn --immutable

      - name: "Check Code Format"
        run: yarn prettier:check

  depcheck:
    name: Benjie's depcheck script
    runs-on: ubuntu-latest

    env:
      TERM: xterm
      FORCE_COLOR: 1
      NODE_VERSION: 16.14 # Should be moved to repository env variable

    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Use Node.js ${{ env.NODE_VERSION }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ env.NODE_VERSION }}
          cache: "yarn"

      - run: yarn --immutable

      - name: "Build Code"
        run: yarn prepack:all

      - name: "Run depcheck script"
        run: node scripts/benjies-depcheck.mjs
